body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

body a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-calendar {
    background-image: url("../img/calendar.svg");
    width: 21px;
    height: 24px;
    margin-right: 27px;
}

.header-email {
    background-image: url("../img/email.svg");
    width: 23px;
    height: 23px;
    margin-right: 24px;
}

.header-navigation {
    background-image: url("../img/navigation.svg");
    width: 23px;
    height: 23px;
}

.header-calendar:hover {
    background-image: url("../img/calendar_hover.svg");

}

.header-email:hover {
    background-image: url("../img/email_hover.svg");
}

.header-navigation:hover {
    background-image: url("../img/navigation_hover.svg");
}

header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-title {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin: 18px 79px;


    color: #FFFFFF;

}

.login-menu {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 79px;

}

.stick {
    border-left: 1px solid white;
    height: 19px;
    opacity: 0.5;
    margin: 20px 27px;
    mix-blend-mode: normal;
}

.login-menu a, p {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;


    color: #FFFFFF;

}

.login:hover {
    color: #3CB878;
}

.header-title:hover {
    color: #3CB878;
    cursor: default;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
}

.main-form {
    display: flex;
    justify-content: center;

}

.form {
    background-color: white;
    width: 444px;
    height: 100%;
    margin-top: 112px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.square {
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    margin-top: 29px;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.form-header-title {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form-header-login {
    margin-right: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #01813F;
}

.form-header-login:hover {
    text-decoration: #01813F;
    text-decoration: underline;

}


.form-container {

}

.container-title {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 22px;
}

.container-img {
    height: 24px;
    width: 12px;
    margin-left: 16px;
}

.facebook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #305DB8;
    border-radius: 4px;
    width: 157px;
    height: 46px;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 15px;
    border: none;
}

.facebook:hover {
    background-color: #022263;
}

.form-stick {
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    height: 28px;
    width: 1px;
}

.form-google {
    display: flex;
}

.google {
    background-color: #DF4A32;
    border: none;
    border-radius: 4px;
    width: 160px;
    margin-top: 15px;
    height: 48px;
    margin-left: 4px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;


}

.google:hover {
    background-color: #AB1F09;
}

.login-company {
    display: flex;
    justify-content: center;
}

.form-google-title {
    padding-right: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.form-google-img {
    padding-left: 12px;
}

.form-stick-google {
    margin-right: 30px;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.line-container-stick {
    background-color: #F2F2F2;
    width: 152px;
    height: 1px;


}

.line-container-p {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #848484;

}

.line-container-stick1 {
    margin-right: 5px;
}

.line-container-stick2 {
    margin-left: 2px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-form-input {
    width: 324px;
    height: 46px;
    margin-top: 15px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;


}

.container-form-input:first-child {
    margin-top: 12px;
}

.container-form-input:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    color: #434343;

}

.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-btn {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-style: none;
    width: 345px;
    height: 46px;
    margin-bottom: 38px;
    margin-top: 20px;
    cursor: pointer;
}

.create-container-agree {
    margin-top: 12px;
    text-align: left;
    margin-right: 90px;
    display: flex;
    justify-content: center;

}

.create-container-p {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-left: 8px;
    margin-top: 4px;
}

.create-container-a {
    color: #3CB878;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-left: 4px;
    margin-top: 4px;
}

.create-container-a:hover {
    color: #01813F;
    text-decoration: #01813F;
    text-decoration: underline;
}
.create-btn:hover {
    background-color: #01813F;
}
.container-form-input::placeholder{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.default-checkbox{
    opacity: 0;
    position: absolute;
    width: 120px;
    height: 15px;
}
.custom-checkbox-wrapper{
    position: relative;
}
.custom-checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.default-checkbox:checked +.custom-checkbox{
   background-image: url("../img/check_mark.png");
  background-repeat: no-repeat;
    background-size: cover;
}
